<form [formGroup]="form" (ngSubmit)="OnSubmit()">
    <mat-form-field >
        <input matInput  formControlName="cin" placeholder="cin">
    </mat-form-field>
    <br>


    <mat-form-field >
    <input matInput  formControlName="name" placeholder="name">
    </mat-form-field>
<br>
    <mat-form-field >
     <input matInput  formControlName="cv" placeholder="cv">
    </mat-form-field>
    <br>
    <mat-form-field>
    
     <input matInput  formControlName="type" placeholder="type">
    </mat-form-field>
    
    <br>      
       
    
      <button type="submit" mat-stroked-button>submit</button>
 </form>